.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  padding: 40px 40px 60px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 64px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

